* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  height: 80dvh;
  width: 100%;
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title{
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  padding: 2rem;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.move-icon{
  height: 50px;
}

.move-button{
  background-color: transparent;
  border: 3px solid white;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  margin-right: 10px;
  cursor: pointer;
}

.result{
  font-size: 25px;
  font-weight: bold;

}
.scoreContainer{
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
}
.js-result{
  font-size: 1.25rem;
}
.score{
  padding: 1rem;
  font-size: 1.25rem;
}

.reset-score , .auto-play-button{
  background-color: white;
  border: none;
  font-size: 15px;
  padding: 8px 15px;
  cursor: pointer;
}

.buttonContainer{
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

button {
  border-radius: 0.25rem;
}